.os {
    display: grid;
    grid-template-columns: 36px repeat(28, 1fr);
    grid-template-rows: 36px repeat(14, 1fr);
    height: 100vh;
    width: 100vw;
    background: $light1;
}

.start {
    grid-column: 1/1;
    grid-row: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions {
    grid-column: 2/30;
    grid-row: 1/1;
    display: flex;
    justify-content: center;
}

.taskbar {
    grid-column: 1/1;
    grid-row: 2/16;
    display: flex;
    align-items: center;
}

.workspace {
    grid-column: 2/30;
    grid-row: 2/16;
    border-top: 1px solid $light3;
    border-left: 1px solid $light3;
    height: 100%;
    width: 100%;
}