{{ template "tpl-app-head-x" . }}
<os-viewport vbox centered>
    <h1 style="margin-bottom: 36px;">Sign In</h1>
    <form action="/signin" method="POST" signin>
        <input class="lg" type="text" placeholder="Username">
        <input class="lg" type="password" placeholder="Password">
        <input class="lg signin"type="submit" value="Sign In">
    </form>
    <os-group vbox signup>
        <p><a href="/signup">Sign Up</a></p>
        <p><a href="/forgot-password">Forgot Password</a></p>
    </os-group>
    <br>
    <h1>Security is not implemented.<br>Hack it without effort.</h1>
</os-viewport>
{{ template "tpl-app-bottom" . }}