.os-app-container {
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.os-mod-container {
    width: inherit;
    height: inherit;
    background: ghostwhite;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.os-mod-toolbar {
    height: 36px;
    min-height: 36px;
    width: 100%;
    background: ghostwhite;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #B0B5B3;
    box-sizing: border-box;
    align-items: center;
}

.os-mod-workspace {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background: #DBDBDB;
    box-sizing: border-box;
    align-items: center;
}
.os-mod-statusbar {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #B0B5B3;
    height: 24px;
    min-height: 24px;
    width: 100%;
    background: ghostwhite;
    box-sizing: border-box;
    align-items: center;
    padding: 0 3px 0 3px;
    align-content: center;
}

.os-mod-left {
    flex-grow: 1;
}

google-map {
    height: 100%;
    width: 100%;
}
.os-mod-panel {
    width: 50%;
    height: 100%;
}

.os-app-actionbar {
    flex-grow: 1;
    align-items: center;
    padding: 0 10px 0 10px;
}

.os-app-taskbar {
    float: left;
    width: auto;
    align-items: center;

}

.os-app-actions {
    display: flex;
    flex-direction: row;
    height: 36px;
    align-items: center;
}

.os-app-credentials {
    align-content: center;
}

.os-fld-lrg {
    height: 28px;
    font-size: 1em;
    box-sizing: border-box;
    border: 1px solid #D3D4D9;
    padding: 0 5px 0 5px;
}

.os-btn-lrg {
    height: 28px;
    font-size: 1em;
    border: 1px solid #D3D4D9;
    text-transform: uppercase;
}
.os-btn-ftr {
    height: 20px;
    font-size: 0.9em;
    border: 1px solid #D3D4D9;
    text-transform: uppercase;
    float: right;
    background: #A50104;
    color: #f3f3f3;
    cursor: pointer;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.os-app-signup {
    padding: 0 10px 0 10px;
}

.os-app-signup-txt {
    text-transform: uppercase;
    font-size: 1em;
}

.os-app-signup-txt a {
    text-decoration: none;
}

.os-app-frgtp-txt {
    text-transform: uppercase;
    font-size: 0.8em;
}

.os-app-frgtp-txt a {
    text-decoration: none;
}

.os-app-error {
    background: #E70E02;
    color: #F3F3F3;
    font-size: 1em;
    padding: 10px;
    max-height: calc(100% - 100px);
    position: fixed;
      top: 50%;
      left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}