// *******************************
// CH01 - Color Variables
// CH02 - Breakpoint Variables
// *******************************

// *******************************
// CH01 - Color Variables
// *******************************

$white: white;
$black: black;
$blue: dodgerblue;
$green: green;
$orange: #FACE20;
$red: red;

$light: $white; //Primary color
$light1: darken($light, 10%);
$light2: darken($light, 20%);
$light3: darken($light, 30%);

$dark: $black;
$dark1: darken($dark, 10%);



$colorDefault: $white;
$colorDefault1: darken($colorDefault, 10%);
$colorDefault2: darken($colorDefault, 20%);
$colorDefault3: darken($colorDefault, 30%);
$colorDefault4: darken($colorDefault, 40%);

$colorSuccess: green;

$colorDanger: red;

$colorAttention: dodgerblue;



// *******************************
// CH02 - Breakpoint Variables
// *******************************

$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;