form {
    margin: unset;
    padding: 5px;
    //border: 1px solid dodgerblue;
    & legend {
        font-size: 0.8em;
    }
    & label {
        font-family: Montserrat, sans-serif;
        font-weight: 400;
    }
}

fieldset {
    margin: 10px;
    padding: 5px;
    border: 1px solid $light10;
    width: 100%;
}
