.#{$os1}#{$start}#{$menu} {
    position: fixed;
    top: 37px;
    width: $startMenuContainerWidth;
    height: $startMenuContainerHeight;
    z-index: 1;
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    &-body {
        width: $startMenuBodyWidth;
        min-width: $startMenuBodyWidth;
        height: $startMenuBodyHeight;
        background: rgba(230,230,230,0.9);
        //background: $light;
    }
    &-overlay {
        flex-grow: 1;
        background: rgba(0,0,0,0.7);
    }
}

.launcher {
    &-header {
        border-bottom: 1px solid $light20;
        height: 50px;
        min-height: 50px;
        background: $light5;
        align-items: center;
        &-avatar {
            width: 50px;
            height: 100%;
            border-right: 1px solid $light20;
            display: grid;
            place-items: center;
            &-bkg {
                width: 40px;
                height: 40px;
                border-radius: 20px;
                background: $light20;
                display: grid;
                place-items: center;
            }
            &-icon {
                width: 28px;
            }
            &-status {
                width: 12px;
                height: 12px;
                border-radius: 6px;
                background: $green;
                border: 1px solid $light10;
                position: absolute;
                top: 34px;
                left: 34px;
            }
        }
        &-credentials {
            flex: 1;
            padding: 0 10px;
            height: 100%;
            text-transform: uppercase;
            & a {
                text-decoration: unset;
                color: $light70;
            }
            &-username {
                font-family: Montserrat;
                font-weight: 400;
                font-size: 1.2em;
                line-height: 1.6em;
            }
            &-accountname {
                font-family: Montserrat;
                font-weight: 400;
                font-size: 0.8em;
                line-height: 1.2em;
            }
        }
        &-signout {
            width: 32px;
            height: 32px;
            margin: 0 9px;
            color: $light80;
        }
    }
}

.launcher-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    width: 100%;
    padding: 20px;
    grid-gap: 20px;
    overflow: auto;
    & a {
        text-decoration: unset;
    }
}
.launcher-shortcuts {
    // border: 1px solid $light20;
    height: 80px;
    background: $light;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.shortcut-ico {
    width: 50px;
    height: 100%;
}

.shortcut-meta {
    padding: 5px;
    & p:nth-child(1) {
        font-size: 0.8em;
        font-weight: bold;
    }
    & p:nth-child(2) {
        font-size: 0.6em;
        color: $light65;
    }
}

.new-shortcut {
    background: $light;
    height: 80px;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.new-shortcut-icon {
    width: 50px;
    height: 100%;
    border-right: 1px solid $light10;
    //background: $light5;

    & div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 7px;
        width: 100%;
        & img {
            width: 36px;
        }
        &:nth-child(1) {
            height: 50px;
            min-height: 50px;
            //border-bottom: 1px solid $light10;
        }
        &:nth-child(2) {
            display: none;
            height: 30px;
        }
    }
    & svg {
        width: 20px;
        height: 20px;
        fill: $light;
    }
}

.new-shortcut-body {
    flex: 1;
    padding: 6px;
    & span {
        font-family: Montserrat;
        font-weight: 500;
        color: $light80;
        align-self: flex-start;
        &:nth-child(1) {
            font-size: 0.8em;
        }
        &:nth-child(2) {
            font-size: 0.6em;
        }
    }
}

.new-shortcut-tools {
    width: 20px;
    border-left: 1px solid $light10;
    & div {
        background: $light5;
        border-bottom: 1px solid $light10;
        text-align: center;
        &:nth-child(4) {
            border-bottom: none;
        }
    }
}