os-statusbar {
    background: $light;
    border-top: 1px solid $light5;
    color: $light80;
    // ToDo: This wraper DIV should be removed
    & > div {
      padding: 4px;
      font-size: 0.8rem;
      cursor: pointer;
      font-family: Montserrat, sans-serif;
      font-weight: 400;
      & a {
        text-decoration: none;
        color: $light80;
        font-family: Montserrat, sans-serif;
        font-weight: 400;
      }
      & a:hover {
        color: $blue;
        text-decoration: underline;
      }
    }
    & .app-title {
      width: 240px;
      min-width: 240px;
      background: $red;
      & a {
        color: $light;
      }
    }

    & .i-icon {
      width: 16px;
      height: 16px;
      margin: 0 6px;
      cursor: pointer;
    }
  }