os-toolbar {
    box-sizing: initial;
    height: 32px;
    min-height: 32px;
    align-items: center;
    background: $light2;
    border-bottom: 1px solid $light10;
    & input, button {
        height: 24px;
        min-width: 60px; 
        margin-left: 4px;
        &.success {
            border: 1px solid $green;
        }
        &.primary {
            border: 1px solid $blue;
        }
        &.danger {
            border: 1px solid $red;
        }
        &.default {
            border: unset;
        }
    }
    & button {
        background-color: $light5;
        &:hover {
            background-color: $light10;
        }
    }
}