os-taskbar {
    height: 36px;
    min-height: 37px;
    background: $light;
    border-bottom: 1px solid $light10;
    //box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
    & .i-icon {
        height: 22px;
        width: 22px;
        cursor: pointer;
        stroke-width: 2;
    }
}

.taskbar-logo {
    display: flex;
    flex-direction: row;
    text-decoration: unset;
    & img {
        width: 120px;
        height: 36px;
        margin: 0 10px;
    }
    & span {
        background: $red;
        color: $light;
        height: 12px;
        font-size: 0.6em;
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        padding: 0 4px;
        position: relative;
        top: 4px;
    }
}
.front-section-links {
    margin-left: 20px;
    text-decoration: unset;
    & span {
        color: $light80;
        font-size: 1em;
        font-family: Montserrat, sans-serif;
        font-weight: 400;
    }
    & span:hover {
        text-decoration: underline;
        color: $black;
    }
}

div[expand] {
    flex-grow: 1;
  }

os-group[signup] {
    padding: 0 10px;
    height: 32px;
    & p {
        margin-top: 2px;
    }
    & a {
        color: $light80;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Montserrat, sans-serif;
    }
    & p:nth-child(1) {
        font-size: 1em;
        line-height: 1em;
        font-weight: 400;
    }
    & p:nth-child(2) {
        font-size: 0.8em;
        line-height: 0.8em;
        font-weight: 300;
    }
    & a:hover {
        text-decoration: underline;
        color: $blue;
    }
}

.actions {
    align-items: center;
    &-icon {
        display: grid;
        place-items: center;
        width: 28px;
        height: 28px;
        border-radius: 3px;
        background: $light10;
        margin-left: 4px;
        cursor: pointer;
        &:last-child {
            margin-right: 8px;
        }
        & .i-icon {
            color: $blue;
        }
        &:hover {
            background: $light20;
        }
    }
}

.app-control-icon {
    height: 36px;
    width: 36px;
    min-width: 36px;
    display: grid;
    place-items: center;
    background: $light50;
    &:first-child {
        margin-left: 8px;
    }
    &.alert {
        background: $red;
        & .i-icon {
            color: $light;
        }
    }
    & .i-icon {
        color: $light;
    }
}