os-button-toogle {
    background-color: #eee;  
    padding: 3px;
    cursor: pointer;
    user-select: none;
    border: 1px solid #333;
    border-radius: 3px;
    transition: background-color .2s ease;
  }
  os-button-toogle[pressed],
  os-button-toogle:not([disabled]):active {
    background-color: #999;
  }
  os-button-toogle[disabled] {
    opacity: 0.35;
  }

  button[open-launcher] {
    border: none;
    min-width: 80px;
    height: 100%;
    background-color: $blue;
    cursor: pointer;
    color: $light5;
    font-weight: 400;
    font-size: 1rem;
    vertical-align: center;
  }

  .expander {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .search-result-sections {
    padding: 10px;
    &[active] {
      border-bottom: 2px solid $blue;
      color: $blue;
      font-weight: bold;
    }
    & a {
      text-decoration: none;
      color: $light65;
    }
    & a:hover {
      color: $dark;
      text-decoration: underline;
    }
  }

  os-sidebar {
    & button[direction] {
      height: 36px;
    }
  }

  .workspace {
    background: $light;
  }