  .expander {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .search-result-sections {
    padding: 10px;
    &[active] {
      border-bottom: 2px solid $blue;
      color: $blue;
      font-weight: bold;
    }
    & a {
      text-decoration: none;
      color: $light65;
    }
    & a:hover {
      color: $dark;
      text-decoration: underline;
    }
  }
  .workspace {
    background: $light;
  }

.unsupported-browser {
  display: grid;
  height: 100%;
  justify-content: center;
  align-content: center;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 2em;
  & > * {
    margin: 0 auto;
  }
}