.#{$os1}#{$start}#{$menu} {
    position: fixed;
    top: $px36;
    left: $px36;
    width: $startMenuContainerWidth;
    height: $startMenuContainerHeight;
    z-index: $zindexStart;
    &-body {
        width: $startMenuBodyWidth;
        min-width: $startMenuBodyWidth;
        height: $startMenuBodyHeight;
        background: $light;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
    &-transparent {
        flex-grow: 1;
        background:rgba(0,0,0,0.2);
    }
}