tr {
    height: 21px;
    border-top: 1px solid $light20;
}

table {
    all: unset;
    display: table;
    font-size: 0.8em;
    // border-collapse: collapse;
    border: none;
    & th {
      background: $light10;
      border-bottom: 1px solid $light30;
      border-right: 1px solid $light10;
      text-align: left;
    }
    & tr:nth-child(even) {
      background: $light10;
    }
    & tr:hover {
      background: $light30;
    }
    & .tbl-address {
      width: auto;
    }
    & td {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-right: 1px solid $light10;
    }
  }

  #RecordID {
    max-width: 40px;
    width: 40px;
    text-align: center;
    font-weight: bold;
    background:rgba(255,255,255,0.6);
    & a {
      display:block;
    }
  }

  #LegalID {
    max-width: 80px;
  }

  #Name {
    max-width: 200px;
  }

  #Form {
    max-width: 40px;
  }

  #LegalAddress {
    max-width: 200px;
  }

  #VerificationLevel {
    max-width: 40px;
    width: 40px;
  }

  #VatID {
    max-width: 40px;
  }