os-taskbar {
    //box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
    & .i-icon {
        height: 22px;
        width: 22px;
        cursor: pointer;
        stroke-width: 2;
    }
}

.taskbar {
    height: $h-36;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $blue;
}
button[small] {
    background-color: red;
}

.taskbar-logo {
    display: flex;
    flex-direction: row;
    text-decoration: unset;
    & img {
        width: 120px;
        height: 36px;
        margin: 0 10px;
    }
    & span {
        background: $blue;
        color: $light;
        height: 12px;
        font-size: 0.6em;
        padding: 0 4px;
        position: relative;
        top: 4px;
    }
}
.front-section-links {
    margin-left: 20px;
    text-decoration: unset;
    & span {
        color: $light65;
        font-size: 1.2em;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
    }
    & span:hover {
        text-decoration: underline;
        color: $black;
    }
}