{{ define "inc-launcher" }}
<template  id="os-start-menu">
    <div class="os1-start-menu vbox">
        <div id="os-start-overlay" class="os1-start-menu-overlay"></div>
        <div class="os1-start-menu-body hbox">
            <div class="directions">
                {{ range .Apps }}
                <a class="launcher-sections" href="{{ .RelativeURL }}" style="background: {{ .Bcolor }};">
                    <span>{{ .ShortName }}</span>
                </a>
                {{ end }}
            </div>
            <div class="launcher-body">
                {{ range .Mods }}
                <a href="{{ .RelativeURL }}">
                    <os-group hbox class="launcher-shortcuts">
                        <div class="shortcut-ico" style="background: {{ .Bcolor }};"></div>
                        <os-group vbox class="shortcut-meta">
                            <p>{{ .ShortName }}</p>
                            <p>by Oswee Inc.</p>
                        </os-group>
                    </os-group>
                </a>
                {{ end }}
            </div>
        </div>
    </div>
</template>
{{ end }}