{{ define "inc-launcher" }}
<template  id="os-start-menu">
    <div class="os1-start-menu vbox">
        <div id="os-start-overlay" class="os1-start-menu-overlay"></div>
        <div class="os1-start-menu-body hbox">
            <div class="directions">
                {{ range .Apps }}
                <a class="launcher-sections" href="{{ .RelativeURL }}" style="background: {{ .Bcolor }};">
                    <span>{{ .ShortName }}</span>
                </a>
                {{ end }}
            </div>
            <div class="launcher-body">
                {{ range .Mods }}
                <a href="{{ .RelativeURL }}">
                    <os-group hbox class="new-shortcut">
                            <os-group vbox class="new-shortcut-icon" style="background: {{ .Bcolor }}">
                                <div>
                                    <img src="/static/img/svg-icons/account.svg" alt="Test">
                                </div>
                                <div>
                                    <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#si-glyph-resize-out-frame"></use></svg>
                                </div>
                            </os-group>
                            <os-group vbox class="new-shortcut-body">
                                <span>{{ .ShortName }}</span>
                                <span>by Oswee Inc.</span>
                            </os-group>
                            <os-group vbox class="new-shortcut-tools">
                                <div>A</div>
                                <div>B</div>
                                <div>C</div>
                                <div>D</div>
                            </os-group>
                        </os-group>
                    <!-- <os-group hbox class="launcher-shortcuts">
                        <div class="shortcut-ico" style="background: {{ .Bcolor }};"></div>
                        <os-group vbox class="shortcut-meta">
                            <p>{{ .ShortName }}</p>
                            <p>by Oswee Inc.</p>
                        </os-group>
                    </os-group> -->
                </a>
                {{ end }}
            </div>
        </div>
    </div>
</template>
{{ end }}

<a href="https://google.com">
    <div>
        <span>Some outter element</span>
        <a href="https://google.com" target="_blank">
            <span>Some inner element</span>
        </a>
    </div>
</a>