{{ template "tpl-app-head-x" . }}
<os-viewport vbox>
    <os-taskbar hbox>
        <button id="btn-open-launcher" open-launcher>APPS</button>
        <os-panel hbox></os-panel>
        <div class="app-control-icon">
            <svg class="i-icon">
                <title>Full Screen</title>
                <use xlink:href="/static/img/svg-icons/icons.svg#i-desktop"></use>
            </svg>
        </div>
        <div class="app-control-icon alert">
            <svg id="btn-close-app" class="i-icon">
                <title>Exit Application</title>
                <use xlink:href="/static/img/svg-icons/icons.svg#i-close"></use>
            </svg>
        </div>
    </os-taskbar>
    <os-container vbox style="padding: 36px;">
        <h1>This will be your CRM Dashboard</h1>
        <p>Use APPS to see available applications. For example <a href="/apps/router">Rout Planner</a></p>
    </os-container>
</os-viewport>
{{ template "inc-launcher" . }}
{{ template "tpl-app-bottom" . }}