{{ template "tpl-app-head-x" . }}
<os-viewport vbox>
    <os-taskbar hbox>
        <svg id="btn-close-app" style="margin-left: 7px" class="i-close" viewBox="0 0 32 32" width="22" height="22" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
            <path d="M2 30 L30 2 M30 30 L2 2" />
        </svg>
        <os-panel hbox></os-panel>
        {{ template "inc-authentication-form" . }}
    </os-taskbar>
    {{ template "tpl-app-search-results" . }}
</os-viewport>
{{ template "tpl-app-bottom" . }}