{{ template "tpl-app-head-x" . }}
<os-viewport vbox>
    <os-taskbar hbox>
        <button id="btn-open-launcher" open-launcher>
            <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-9dots"></use></svg>
        </button>
        <div class="app-name-path">
            <a href="/apps" style="text-decoration: unset">APPS / </a>
            <a href="/apps/crm" style="text-decoration: unset">CRM / </a>
            <a href="/apps/crm/customers" style="text-decoration: unset">Customers</a>
        </div>
        <os-panel hbox></os-panel>
        <os-group hbox class="actions">
            <div class="actions-icon">
                <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-search"></use></svg>
            </div>
            <div class="actions-icon">
                <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-bell"></use></svg>
            </div>
            <a href="/help/apps/crm/customers">
                <div class="actions-icon">
                    <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-info"></use></svg>
                </div>
            </a>
        </os-group>
        <div class="app-control-icon">
            <svg class="i-icon">
                <title>Full Screen</title>
                <use xlink:href="/static/img/svg-icons/icons.svg#i-desktop"></use>
            </svg>
        </div>
        <div class="app-control-icon alert">
            <svg id="btn-close-app" class="i-icon">
                <title>Exit Application</title>
                <use xlink:href="/static/img/svg-icons/icons.svg#i-close"></use>
            </svg>
        </div>
    </os-taskbar>
    <os-container hbox>
        {{ template "inc-shortcut-bar" . }}
        <os-workspace vbox>
            <os-toolbar hbox>
                <button style="border: 1px solid #3EC300;">New</button>
                <button style="border: 1px solid #E70E02;">Delete</button>
            </os-toolbar>
            <os-container>
                <os-sidebar vbox class="front-sidebar">
                    <os-panel></os-panel>
                </os-sidebar>
                <os-panel>
                    <table>
                        <colgroup>
                            <col style="width: 40px;">
                            <col style="width: auto;">
                            <col style="width: 140px;">
                            <col style="width: 140px;">
                            <col style="width: 80px;">
                            <col style="width: 140px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th style="text-align: center;">ID</th>
                                <th>Account Name</th>
                                <th>Active Orders</th>
                                <th>Last Order</th>
                                <th>LTV</th>
                                <th>Created at</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range .Customers }}
                            <tr id="org-{{ .ID }}" data-id="{{ .ID }}">
                                <!-- ToDo: Move styles to stylesheet -->
                                <td id="recordID"><a href="/apps/crm/customers/{{ .ID }}" style="text-align:center; text-decoration: unset; display:block;">{{ .ID }}</a></td>
                                <td id="tbl-row"><a href="/apps/crm/customers/{{ .ID }}" style="text-decoration: unset; display:block;">{{ .Name }}</a></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td id="Name">{{ .CreatedAt }}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </os-panel>
            </os-container>
        </os-workspace>
    </os-container>
    <os-statusbar hbox>
        <div style="background: #CA3CFF"><a href="#">{{ .Title }}</a></div>
        <div><a href="/about">About</a></div>
        <div><a href="#">Advertising</a></div>
        <div><a href="#">Business</a></div>
        <div><a href="#">Team</a></div>
        <div><a href="#">Terms</a></div>
        <div expand></div>
        <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-info"></use></svg>
        <img src="/static/img/svg-icons/gchrome.svg" alt="Google Chrome Logo" width="16px">
        <div>Google Chrome Only</div>
    </os-statusbar>
</os-viewport>
{{ template "inc-launcher" . }}
{{ template "tpl-app-bottom" . }}