<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="">
    <title>Accounts</title>
    <link rel="stylesheet" type="text/css" href="/static/scss/main.css">
</head>
<body>
    <div class="os">
        <div class="start"><button class="btn-start btn-sq-32 ico-apps" type="button"></button></div>
        <div class="actions"></div>
        <div class="taskbar"></div>
        <div class="workspace">
            <div class="module hbox">
                <div class="panel">One</div>
                <div class="statusbar"></div>
            </div>
        </div>
    </div>
</body>
</html>