<html lang="en">
<head>
{{ template "head" .}}
</head>
<body>
<div class="os-app">
    <div class="os-mod">
        <div class="os-mod-1 icn-apps" id="btn-start"></div>
        {{ template "tpl-app-start-menu" . }}
        {{ template "tpl-app-taskbar" . }}
        {{ template "tpl-app-shortcuts" . }}
        <div class="os-mod-panel left full-height">
            <h1>LEFT PANEL</h1><br>
            <p>This should be overview about current App. Available modules, Module usage statistics, Module user access rights and other.</p>
        </div>
        <div class="os-mod-panel right full-height">RIGHT PANEL</div>
        <div class="os-mod-8">
            <div class="os-mod-sb-title">{{.Abr}} | {{.Title}}</div>
            <form class="os-mod-sb-tools" action="/signin">
                <input type="submit" class="os-btn-ftr" value="Sign Out" />
            </form>
        </div>
    </div>
</div>
{{ template "bottom" . }}
</body>
</html>