{{ template "tpl-app-head-x" . }}
<os-viewport vbox>
    <os-taskbar hbox>
        <button id="btn-open-launcher" open-launcher>
            <svg class="i-icon">
                <use xlink:href="/static/img/svg-icons/icons.svg#i-9dots"></use>
            </svg>
        </button>
        <div class="app-name-path">
            <a href="/apps">APPS</a>
            <span> / </span>
            <a href="/apps/crm">CRM</a>
            <span> / </span>
            <a href="/apps/crm/customers">Customers</a>
            <span> / </span>
            <a href="/apps/crm/customers/{{ .Customer.ID }}/profile">{{ .Customer.Name }}</a>
            <span> / </span>
            <a href="#">Profile</a>
        </div>
        <os-panel hbox></os-panel>
        <os-group hbox class="actions">
            <div class="actions-icon">
                <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-search"></use></svg>
            </div>
            <div class="actions-icon">
                <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-bell"></use></svg>
            </div>
            <a href="/help/apps/crm/customers">
                <div class="actions-icon">
                    <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-info"></use></svg>
                </div>
            </a>
        </os-group>
        <div class="app-control-icon">
            <svg class="i-icon">
                <title>Full Screen</title>
                <use xlink:href="/static/img/svg-icons/icons.svg#i-desktop"></use>
            </svg>
        </div>
        <div class="app-control-icon danger">
            <svg id="btn-close-app" class="i-icon">
                <title>Exit Application</title>
                <use xlink:href="/static/img/svg-icons/icons.svg#i-close"></use>
            </svg>
        </div>
    </os-taskbar>
    <os-container hbox>
        {{ template "inc-shortcut-bar" . }}
        <os-panel vbox>
            {{ template "inc-crm-customer-profile-head" . }}
            <!-- Tab links -->
            <os-tabbar hbox>
                <os-group hbox class="tabs">
                    <button class="tablinks active">Profile</button>
                    <button class="tablinks">
                        <span>
                            <a href="/apps/crm/customers/{{ .Customer.ID }}/dashboard">Dashboard</a>
                        </span>
                        <span class="tab-badge">New</span>
                    </button>
                    <button class="tablinks">
                        <span>
                            <a href="/apps/crm/customers/{{ .Customer.ID }}/quotes">Quotes</a>
                        </span>
                    </button>
                    <button class="tablinks">
                        <span>
                            <a href="/apps/crm/customers/{{ .Customer.ID }}/orders">Orders</a>
                        </span>
                    </button>
                    <button>
                        <span>
                            <a href="/apps/crm/customers/{{ .Customer.ID }}/projects">Projects</a>
                        </span>
                        <span class="tab-notification">2</span>
                    </button>
                    <button class="tablinks">
                        <span>
                            <a href="/apps/crm/customers/{{ .Customer.ID }}/projects">Invoices</a>
                        </span>
                    </button>
                    <button class="tablinks">
                        <span>
                            <a href="/apps/crm/customers/{{ .Customer.ID }}/projects">Services</a>
                        </span>
                    </button>
                    <button class="tablinks">
                        <span>
                            <a href="/apps/crm/customers/{{ .Customer.ID }}/projects">Warehouses</a>
                        </span>
                    </button>
                    <button class="tablinks">
                        <span>
                            <a href="/apps/crm/customers/{{ .Customer.ID }}/projects">Locations</a>
                        </span>
                    </button>
                    <button class="tablinks">
                        <span>
                            <a href="/apps/crm/customers/{{ .Customer.ID }}/projects">Contacts</a>
                        </span>
                    </button>
                </os-group>
                <os-group hbox></os-group>
            </os-tabbar>
        </os-panel>
    </os-container>
    <os-statusbar hbox>
        <div expand></div>
        <span class="app-version">Version 0.0.2 Updated 2018-06-26 by Oswee Inc.</span>
        <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-info"></use></svg>
        <svg class="i-icon">
            <title>Report a bug</title>
            <use xlink:href="/static/img/svg-icons/icons.svg#i-bug"></use>
        </svg>
    </os-statusbar>
</os-viewport>
{{ template "inc-launcher" . }}
{{ template "tpl-app-bottom" . }}