{{ template "tpl-app-head-x" . }}
<os-viewport vbox>
    <os-taskbar hbox>
        <button id="btn-open-launcher" open-launcher>APPS</button>
        <os-panel hbox></os-panel>
        <div class="app-control-icon">
            <svg class="i-icon">
                <title>Full Screen</title>
                <use xlink:href="/static/img/svg-icons/icons.svg#i-desktop"></use>
            </svg>
        </div>
        <div class="app-control-icon alert">
            <svg id="btn-close-app" class="i-icon">
                <title>Exit Application</title>
                <use xlink:href="/static/img/svg-icons/icons.svg#i-close"></use>
            </svg>
        </div>
    </os-taskbar>
    <os-container hbox>
        <os-panel>
            <table>
                <colgroup>
                    <col style="width: 40px;">
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th style="text-align: center;">ID</th>
                        <th>Name</th>
                        <th>Created at</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Customers }}
                    <tr id="org-{{ .ID }}" data-id="{{ .ID }}">
                        <!-- ToDo: Move styles to stylesheet -->
                        <td id="recordID"><a href="/organization/{{ .ID }}" style="text-align:center; text-decoration: unset; display:block;">{{ .ID }}</a></td>
                        <td id="tbl-row">{{ .Name }}</td>
                        <td id="Name">{{ .CreatedAt }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </os-panel>
    </os-container>
</os-viewport>
{{ template "inc-launcher" . }}
{{ template "tpl-app-bottom" . }}