{{ template "tpl-app-head-x" . }}
<os-viewport vbox>
    <os-taskbar hbox>
        <svg id="btn-close-app" class="c-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-close"></use></svg>
        <os-panel hbox></os-panel>
        <button id="btn-open-launcher" open-launcher>APPS</button>
    </os-taskbar>
    <os-container vbox style="padding: 36px;">
        <h1>This will be your Customer Relationship Management</h1>
        <p>Use APPS to see available applications. For example <a href="/apps/router">Rout Planner</a></p>
    </os-container>
</os-viewport>
{{ template "inc-launcher" . }}
{{ template "tpl-app-bottom" . }}