{{ template "tpl-app-head-x" . }}
<os-viewport vbox>
    <os-taskbar hbox>
        <os-panel hbox></os-panel>
        <!-- <os-group vbox signup>
            <p><a href="#">Guest User</a></p>
            <p><a href="#">Demo Account</a></p>
        </os-group> -->
        <button id="btn-open-launcher" open-launcher>APPS</button>
    </os-taskbar>
    <os-desktop>
        <div title="Some Cool App"><a href="/apps/router"><span>Rourer App Widget</span></a></div>
        <div><span>Widget 2</span></div>
        <div><span>Widget 3</span></div>
        <div><span>Widget 4</span></div>
    </os-desktop>
    <!-- <os-container vbox style="padding: 36px;">
        <h1>This will be your main desktop/dashboard</h1>
        <p>Use APPS to see available applications. For example <a href="/apps/router">Rout Planner</a></p>
    </os-container> -->
</os-viewport>
{{ template "inc-launcher" . }}
{{ template "tpl-app-bottom" . }}