{{ template "tpl-app-head-x" . }}
<os-viewport vbox>
    {{ template "tpl-app-taskbar" . }}
    <os-row><h1>Business</h1></os-row>
    <os-container hbox>
        <os-sidebar vbox>
            <os-group vbox>
                <button id="btn-goto-services" direction red>Services</button>
                <button id="btn-goto-products" direction orange>Products</button>
                <button id="btn-goto-business" direction green>Business</button>
                <button id="btn-goto-promotions" direction violet>Promotions</button>
                <button id="btn-goto-apps" direction blue>Applications</button>
            </os-group>
            <os-panel>Filters</os-panel>
        </os-sidebar>
        <os-panel>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Registration ID</th>
                    <th>Name</th>
                    <th>Form</th>
                </tr>
                {{ range . }}
                <tr>
                    <td>{{ .ID }}</td>
                    <td><a href="/business/{{ .LegalID }}">{{ .LegalID }}</a></td>
                    <td><a href="/business/{{ .Name }}">{{ .Name }}</a></td>
                    <td>{{ .Form }}</td>
                </tr>
                {{ end }}
            </table>
        </os-panel>
    </os-container>
</os-viewport>
{{ template "tpl-app-bottom" . }}