{{ template "tpl-app-head-x" . }}
<os-viewport vbox>
    <os-taskbar hbox>
        <button id="btn-open-launcher" open-launcher>APPS</button>
        <button id="new-destination" style="height: 28px; min-width: 60px; margin-right: 4px; border: 1px solid #3EC300; border-radius: 3px;">New</button>
        <button style="height: 28px; min-width: 60px; margin-right: 4px; border: 1px solid #E70E02; border-radius: 3px;">Delete</button>
        <os-panel hbox></os-panel>
        <os-group hbox class="actions">
            <div class="actions-icon">
                <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-search"></use></svg>
            </div>
            <div class="actions-icon">
                <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-bell"></use></svg>
            </div>
            <a href="/help/apps/crm/customers">
                <div class="actions-icon">
                    <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-info"></use></svg>
                </div>
            </a>
        </os-group>
        <div class="app-control-icon">
            <svg class="i-icon">
                <title>Full Screen</title>
                <use xlink:href="/static/img/svg-icons/icons.svg#i-desktop"></use>
            </svg>
        </div>
        <div class="app-control-icon alert">
            <svg id="btn-close-app" class="i-icon">
                <title>Exit Application</title>
                <use xlink:href="/static/img/svg-icons/icons.svg#i-close"></use>
            </svg>
        </div>
    </os-taskbar>
    <os-container hbox>
        {{ template "inc-shortcut-bar" . }}
        <os-panel vbox>
            <div>
                <h1>Customer: {{ .Customer.Name}}</h1>
                <p>Created: {{ .Customer.CreatedAt }}</p>
            </div>
            <!-- Tab links -->
            <os-toolbar hbox class="tab">
                <button class="tablinks" onclick="openTab(event, 'Quotes')">Quotes</button>
                <button class="tablinks" onclick="openTab(event, 'Orders')">Orders</button>
                <button id="defaultOpen" class="tablinks" onclick="openTab(event, 'Projects')">Projects</button>
                <button class="tablinks" onclick="openTab(event, 'Invoices')">Invoices</button>
                <button class="tablinks" onclick="openTab(event, 'Services')">Services</button>
                <button class="tablinks" onclick="openTab(event, 'Warehouses')">Warehouses</button>
                <button class="tablinks" onclick="openTab(event, 'Locations')">Locations</button>
                <button class="tablinks" onclick="openTab(event, 'Contacts')">Contacts</button>
            </os-toolbar>
      
      <!-- Tab content -->
      <div id="Quotes" class="tabcontent">
        <h3>Quotes</h3>
        <p>Quotes are not implemented</p>
      </div>
      
      <div id="Orders" class="tabcontent">
        <h3>Orders</h3>
        <p>Orders are not implemented</p> 
      </div>
      
      <div id="Projects" class="tabcontent">
            <table>
                <colgroup>
                    <col style="width: 40px;">
                    <col style="width: 200px;">
                    <col style="width: auto;">
                    <col style="width: 200px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 140px;">
                </colgroup>
                <thead>
                    <tr>
                        <th style="text-align: center;">ID</th>
                        <th>Customer</th>
                        <th>Name</th>
                        <th>Service</th>
                        <th>Units</th>
                        <th>Amount</th>
                        <th>Cost</th>
                        <th>Profit</th>
                        <th>Created at</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Projects }}
                    <tr id="org-{{ .ID }}" data-id="{{ .ID }}">
                        <!-- ToDo: Move styles to stylesheet -->
                        <td id="recordID"><a href="/apps/crm/projects/{{ .ID }}" style="text-align:center; text-decoration: unset; display:block;">{{ .ID }}</a></td>
                        <td id="tbl-row">{{ .CustomerName }}</td>
                        <td id="tbl-row">{{ .Name }}</td>
                        <td id="tbl-row">{{ .ServiceTitle }}</td>
                        <td id="tbl-row">{{ .Units }} pc.</td>
                        <td id="tbl-row">{{ .Amount }} Eur</td>
                        <td id="tbl-row">{{ .Cost }} Eur</td>
                        <td id="tbl-row">{{ .Profit }} Eur</td>
                        <td id="Name">{{ .CreatedAt }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
              
        <div id="Invoices" class="tabcontent">
            <h3>Invoices</h3>
            <p>Invoices are not implemented</p> 
        </div>
                
        <div id="Services" class="tabcontent">
            <h3>Services</h3>
            <p>Services are not implemented</p> 
        </div>
                
        <div id="Warehouses" class="tabcontent">
            <h3>Warehouses</h3>
            <p>Warehouses are not implemented</p> 
        </div>
                
        <div id="Locations" class="tabcontent">
            <h3>Locations</h3>
            <p>Locations are not implemented</p> 
        </div>
                
        <div id="Contacts" class="tabcontent">
            <h3>Contacts</h3>
            <p>Orders are not implemented</p> 
        </div>

        </os-panel>
    </os-container>
    <os-statusbar hbox>
        <div style="background: #CA3CFF"><a href="#">{{ .Title }}</a></div>
        <div><a href="/about">About</a></div>
        <div><a href="#">Advertising</a></div>
        <div><a href="#">Business</a></div>
        <div><a href="#">Team</a></div>
        <div><a href="#">Terms</a></div>
        <div expand></div>
        <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-info"></use></svg>
        <img src="/static/img/svg-icons/gchrome.svg" alt="Google Chrome Logo" width="16px">
        <div>Google Chrome Only</div>
    </os-statusbar>
</os-viewport>
{{ template "inc-launcher" . }}
<script>
  function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
{{ template "tpl-app-bottom" . }}