{{ template "tpl-app-head-x" . }}
<os-viewport vbox>
    {{ template "tpl-app-taskbar" . }}
    <os-container hbox>
        <os-sidebar vbox style="border-right: 1px solid #006AFF;">
            <os-panel>Filtering features there</os-panel>
            {{ template "inc-front-sidebar-nav" . }}
        </os-sidebar>
        <os-panel vbox>
            <os-taskbar class="sub-toolbar">
                <input type="search" placeholder="Search...">
                <input type="date" name="from" id="from">
                <input type="date" name="till" id="till">
                <button>Filter</button>
            </os-taskbar>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Registration ID</th>
                    <th>Name</th>
                    <th>Form</th>
                    <th>Legal Address</th>
                    <th>Verification Level</th>
                    <th>VAT ID</th>
                </tr>
                {{ range .Orgs }}
                <tr>
                    <td><a href="/organization/{{ .ID }}">{{ .ID }}</a></td>
                    <td><a href="/organization/{{ .LegalID }}">{{ .LegalID }}</a></td>
                    <td><a href="/organization/{{ .PrettyLink }}">{{ .Name }}</a></td>
                    <td>{{ .Form }}</td>
                    <td class="tbl-address">{{ .LegalAddress }}</td>
                    <td>{{ .VerificationLevel }}</td>
                    <td>{{ .VatRegistrationID }}</td>
                </tr>
                {{ end }}
            </table>
        </os-panel>
    </os-container>
    <os-statusbar hbox>
            <div style="background: #FCBA04"><a href="#">{{ .Title }}</a></div>
            <div><a href="/about">About</a></div>
            <div><a href="#">Advertising</a></div>
            <div><a href="#">Business</a></div>
            <div><a href="#">Team</a></div>
            <div><a href="#">Terms</a></div>
            <div expand></div>
            <img src="/static/img/svg-icons/gchrome.svg" alt="Google Chrome Logo" width="16px">
            <div>Google Chrome Only</div>
        </os-statusbar>
</os-viewport>
{{ template "tpl-app-bottom" . }}