{{ template "tpl-app-head-x" . }}
<os-viewport vbox>
    <os-taskbar hbox>
        <a href="/" title="Home"  class="taskbar-logo">
            <img src="/static/img/svg-logo/oswee.svg" alt="Oswee Logo">
            <span>Pre-Alpha</div>
        </a>
        <os-panel hbox></os-panel>
        {{ template "inc-authentication-form" . }}
        <!-- <button id="btn-open-launcher" open-launcher>APPS</button> -->
    </os-taskbar>
    <os-container hbox>
        <os-sidebar vbox class="front-sidebar">
            <os-panel></os-panel>
            {{ template "inc-front-sidebar-nav" . }}
        </os-sidebar>
        <os-panel vbox style="padding: 36px;">
            <h1>Applications are not implemented</h1>
            <p>Please try to check <a href="/services">Services </a>or <a href="/organizations">Organizations</a></p>
        </os-panel>
    </os-container>
</os-viewport>
{{ template "tpl-app-bottom" . }}