{{ template "tpl-app-head-x" . }}
<os-viewport vbox>
    <os-taskbar hbox>
        <button id="btn-open-launcher" open-launcher>
            <svg class="i-icon">
                <use xlink:href="/static/img/svg-icons/icons.svg#i-9dots"></use>
            </svg>
        </button>
        <div class="app-name-path">
            <a href="/apps">Apps</a>
            <span> / </span>
            <a href="/apps/crm">CRM</a>
            <span> / </span>
            <a href="/apps/crm/customers">Customers</a>
            <span> / </span>
            <a href="/apps/crm/customers/{{ .Customer.ID }}">{{ .Customer.Name }}</a>
            <span> / </span>
            {{ if (eq .App.ID 46) }}
            <a href="">{{ .App.ShortName }}</a>
            {{ end }}
        </div>
        <os-panel hbox></os-panel>
        <os-group hbox class="actions">
            <div class="actions-icon">
                <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-search"></use></svg>
            </div>
            <div class="actions-icon">
                <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-bell"></use></svg>
            </div>
            <a href="/help/apps/crm/customers">
                <div class="actions-icon">
                    <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-info"></use></svg>
                </div>
            </a>
        </os-group>
        <div class="app-control-icon">
            <svg class="i-icon">
                <title>Full Screen</title>
                <use xlink:href="/static/img/svg-icons/icons.svg#i-desktop"></use>
            </svg>
        </div>
        <div class="app-control-icon danger">
            <svg id="btn-close-app" class="i-icon">
                <title>Exit Application</title>
                <use xlink:href="/static/img/svg-icons/icons.svg#i-close"></use>
            </svg>
        </div>
    </os-taskbar>
    <os-container hbox>
        {{ template "inc-shortcut-bar" . }}
        <os-panel vbox>
            {{ template "inc-crm-customer-profile-head" . }}
            <!-- Tab links -->
            {{ if ( eq .App.ID 15) }}
                {{ template "crm-customer-profile" . }}
            {{ end }}
            {{ if (eq .App.ID 43) }}
            {{ template "crm-customer-dashboard" . }}
            {{ end }}
            {{ if (eq .App.ID 44) }}
            {{ template "crm-customer-quotes" . }}
            {{ end }}
            {{ if (eq .App.ID 45) }}
            {{ template "crm-customer-orders" . }}
            {{ end }}
            {{ if (eq .App.ID 46) }}
                {{ template "crm-customer-projects" . }}
            {{ end }}
            {{ if (eq .App.ID 47) }}
                {{ template "crm-customer-invoices" . }}
            {{ end }}
            {{ if (eq .App.ID 48) }}
                {{ template "crm-customer-services" . }}
            {{ end }}
            {{ if (eq .App.ID 49) }}
                {{ template "crm-customer-warehouses" . }}
            {{ end }}
            {{ if (eq .App.ID 50) }}
                {{ template "crm-customer-locations" . }}
            {{ end }}
            {{ if (eq .App.ID 51) }}
                {{ template "crm-customer-feed" . }}
            {{ end }}
        </os-panel>
    </os-container>
    <os-statusbar hbox>
        <div expand></div>
        <span class="app-version">Version 0.0.2 Updated 2018-06-26 by Oswee Inc.</span>
        <svg class="i-icon"><use xlink:href="/static/img/svg-icons/icons.svg#i-info"></use></svg>
        <svg class="i-icon">
            <title>Report a bug</title>
            <use xlink:href="/static/img/svg-icons/icons.svg#i-bug"></use>
        </svg>
    </os-statusbar>
</os-viewport>
{{ template "inc-launcher" . }}
{{ template "tpl-app-bottom" . }}