<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unsupported Browser Detected</title>
    <!-- <title>Oswee.com: Online Collaborative Resource Planning platform & more</title> -->
    <meta name="description" content="Online shopping and selling of goods and services, managing customers, suppliers, shipping services and orders, NVOCC, order tracking, accounting, postal services, direct mail and many more. ">
    <meta name="keywords" content="Oswee, Oswee.com, NVOCC, Direct Mail, Postal Services, ERP, CRM, Shipping, Fleet Management">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/scss/main.css">

</head>
<body>
<div class="unsupported-browser">
    <p>If you see this message, this doesn't mean I don't like you.</p>
    <p>This is simply because I don't like browser you are using right now.</p>
    <p>Please, try the better one or come back after 5 years.</p>
</div>
{{ template "tpl-app-bottom" . }}