<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGN UP</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/core.css">
</head>
<body>
<div class="os-app-container">
        <div class="os-mod-container">
            <div class="os-mod-toolbar">
                <div class="os-app-actionbar">
                    <h1>SIGN UP</h1>
                </div>
                <div class="os-app-taskbar"></div>
                <div class="os-app-actions">
                    <form method="POST">
                        <fieldset class="os-app-credentials">
                            <input type="text" name="username" id="username" class="os-fld-lrg username" placeholder="Username">
                            <input type="password" name="password" id="password" class="os-fld-lrg password" placeholder="Password">
                            <button type="submit" class="os-btn-lrg">Sign In</button>
                        </fieldset>
                    </form>
                    <div class="os-app-signup">
                        <p class="os-app-signup-txt"><a href="/">HOME</a></p>
                        <p class="os-app-frgtp-txt"><a href="/signup">Forgot Password</a></p>
                    </div>
                </div>
            </div>
            <div class="os-mod-workspace">
                <form method="POST">
                    <div>First Name: <input name="fname" type="text" placeholder="First Name"></div>
                    <div>Last Name: <input name="lname" type="text" placeholder="Last Name"></div>
                    <div>Email: <input name="email" type="email" placeholder="example@domain.com"></div>
                    <div>Username: <input name="username" type="text" placeholder="Username"></div>
                    <div>Password: <input name="password" type="password" placeholder="Password"></div>
                    <div>
                        <button type="submit">Sign Up</button>
                    </div>
                </form>
                {{ if . }}
                    <div id="errorModal" class="os-app-error">
                        {{ . }}
                        <button onclick="closeErrorModal();">Close</button>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>