<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="">
    <title>Accounts</title>
    <link rel="stylesheet" type="text/css" href="/static/scss/main.css">
</head>
<body class="vika-body">
    <div class="element">
        <h1 class="violet">Viktoria - dochka!</h1>
        <h1 class="violet">Vika, I love you cat!</h1>
        <div class="mery-cat"></div>
        <h1 class="green">Mama</h1>
        <h1 class="violet">Body</h1>

    </div>
    <button>Vika</button><br>
    <a href="https://www.youtube.com">My favorite YouTube</a>
</body>
</html>