{{ define "tpl-app-signin"}}
    <div class="os-app-actions">
        <form method="POST">
            <fieldset class="os-app-credentials">
                <input id="username" type="text" name="username" class="os-fld-lrg username" placeholder="Username">
                <input id="password" type="password" name="password" class="os-fld-lrg password" placeholder="Password">
                <button type="submit" class="os-btn-lrg">Sign In</button>
            </fieldset>
        </form>
        <div class="os-app-signup">
            <p class="os-app-signup-txt"><a href="/signup">Sign Up</a></p>
            <p class="os-app-frgtp-txt"><a href="/signup">Forgot Password</a></p>
        </div>
    </div>
{{ end }}