{{ define "tpl-app-main-navigation" }}
<div class="os-mod-nav">
    <div class="os-mod-nav-search">
        <form class="os-app-main-search" action="/search">
            <input class="os-app-main-search-input" type="search" autofocus>
            <input type="submit" class="os-app-main-search-btn" value="Search" />
        </form>
    </div>
    <div class="os-mod-nav-sections">
        <div id="front-nav-btn-applications" class="os-mod-nav-item">
            <h4>Applications</h4>
        </div>
        <div id="front-nav-btn-business" class="os-mod-nav-item">
            <h4>Business</h4>
        </div>
        <div id="front-nav-btn-services" class="os-mod-nav-item">
            <h4>Services</h4>
        </div>
        <div id="front-nav-btn-products" class="os-mod-nav-item">
            <h4>Products</h4>
        </div>
        <div id="front-nav-btn-promotions" class="os-mod-nav-item">
            <h4>Promotions</h4>
        </div>
    </div>
</div>
{{ end }}