{{define "tpl-app-head-x"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <!-- <title>Oswee.com: Online Collaborative Resource Planning platform & more</title> -->
    <meta name="description" content="Online shopping and selling of goods and services, managing customers, suppliers, shipping services and orders, NVOCS, order tracking, accounting, postal services, direct mail and many more. ">
    <meta name="keywords" content="Oswee, Oswee.com, NVOCC, Direct Mail, Postal Services, ERP, CRM, Shipping, Fleet Management">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/scss/main.css">

    <script defer src="/static/js/main.js"></script>

    <script src="/static/components/os-viewport.js" type="module"></script>
    <script src="/static/components/os-container.js" type="module"></script>
    <script src="/static/components/os-panel.js" type="module"></script>
    <script src="/static/components/os-taskbar.js" type="module"></script>
    <script src="/static/components/os-sidebar.js" type="module"></script>
    <script src="/static/components/os-row.js" type="module"></script>
    <script src="/static/components/os-group.js" type="module"></script>
    <script src="/static/components/os-button-toggle.js" type="module"></script>
    <script src="/static/components/os-statusbar.js" type="module"></script>
    <script src="/static/components/os-omnibox.js" type="module"></script>

</head>
<body>
{{end}}