{{ define "tpl-app-main-grid" }}
<div class="os-app-mg">
    <!--MGB - Main Grid Body-->
    <div class="os-app-mgb">
        <!--MGI - Main Grid Item-->
        <div class="os-app-mgi">1</div>
        <div class="os-app-mgi">2</div>
        <div class="os-app-mgi">3</div>
        <div class="os-app-mgi">4</div>
        <div class="os-app-mgi">5</div>
        <div class="os-app-mgi">6</div>
        <div class="os-app-mgi">7</div>
        <div class="os-app-mgi">8</div>
        <div class="os-app-mgi">9</div>
    </div>

</div>

{{ end }}