{{ define "tpl-app-taskbar" }}
    <div class="taskbar vbox">
        <img src="/static/img/svg-icons/9dots.svg" alt="Don't read this!" class="btn-start" id="btn-start">
        <div class="toolbar vbox">
            <button class="btn-28">New</button>
            <button class="btn-28">Edit</button>
            <button class="btn-28">Delete</button>
            <button class="btn-28">Export</button>
        </div>
        <div class="toolgroup vbox">
            <form class="hfrm signin vbox" method="POST">
                <fieldset class="vbox">
                    <input id="username" class="inp-28" type="text" name="username" placeholder="Username">
                    <input id="password" class="inp-28" type="password" name="password" placeholder="Password">
                    <button class="btn-28" type="submit">Sign In</button>
                </fieldset>
            </form>
            <div class="vsp-8"></div>
            <div class="signup">
                <p class="txt-l nolink"><a href="/signup">Sign Up</a></p>
                <p class="txt-s nolink"><a href="/restore-access">Forgot Password</a></p>
            </div>
            <div class="vsp-8"></div>
        </div>
    </div>
{{ end }}