{{ define "tpl-app-start-menu"}}
<!--SM = Start Menu-->
<div class="os-app-sm" id="os-app-sm">
    <!--SMW = Start Menu Wrapper-->
    <div class="os-app-smw">
        <!--SMH = Start Menu Header-->
        <div class="os-app-smh"></div>
        <!--SMB = Start Menu Body-->
        <div class="os-app-smb">
            <!--SMBM = Start Menu Body Module-->
            <div class="os-app-smbm">
                <!--SMBMH = Start Menu Body Module Header-->
                <div id="start-menu-btn-open-crm" class="os-app-smbmh">
                    <p>CRM | CUSTOMER RELATIONSHIP MANAGEMENT</p>
                </div>
                <!--SMBMH = Start Menu Body Module Body-->
                <div class="os-app-smbmb">
                    <!--SMBI = Start Menu Body Item-->
                    <div id="start-menu-btn-open-crm-dashboard" class="os-app-smbi">
                        <!--SMBIT = Start Menu Body Item Title-->
                        <div class="os-mod-smbit online">DASHBOARD</div>
                    </div>
                    <div class="os-app-smbi">
                        <div class="os-mod-smbit">LEADS</div>
                    </div>
                    <div id="start-menu-btn-open-crm-customers" class="os-app-smbi">
                        <div class="os-mod-smbit online">CUSTOMERS</div>
                    </div>
                    <div class="os-app-smbi">
                        <div class="os-mod-smbit">PROJECTS</div>
                    </div>
                    <div class="os-app-smbi">
                        <div class="os-mod-smbit">QUOTES</div>
                    </div>
                    <div class="os-app-smbi">
                        <div class="os-mod-smbit">INVOICES</div>
                    </div>
                </div>
            </div>
            <!--SMBM = Start Menu Body Module-->
            <div class="os-app-smbm">
                <!--SMBMH = Start Menu Body Module Header-->
                <div class="os-app-smbmh">
                    <p>SYS | SYSTEM TOOLS</p>
                </div>
                <!--SMBMH = Start Menu Body Module Body-->
                <div class="os-app-smbmb">
                    <!--SMBI = Start Menu Body Item-->
                    <div class="os-app-smbi" id="start-menu-btn-open-sys-accounts">
                        <!--SMBIT = Start Menu Body Item Title-->
                        <div class="os-mod-smbit online">ACCOUNTS</div>
                    </div>
                    <div class="os-app-smbi">
                        <!--SMBIT = Start Menu Body Item Title-->
                        <div class="os-mod-smbit">DASHBOARD</div>
                    </div>
                    <div class="os-app-smbi">
                        <!--SMBIT = Start Menu Body Item Title-->
                        <div class="os-mod-smbit">DASHBOARD</div>
                    </div>
                    <div class="os-app-smbi">
                        <!--SMBIT = Start Menu Body Item Title-->
                        <div class="os-mod-smbit">DASHBOARD</div>
                    </div>
                </div>
            </div>
        </div>
        <!--SMF = Start Menu Footer-->
        <div class="os-app-smf">
            <button id="btn-start-exit" class="os-app-btn-lg icn-signout"></button>
        </div>
    </div>
</div>
{{end}}