{{ define "tpl-app-shortcuts" }}
<div class="os-mod-5">
    <div id="os-app-btn-home" class="os-app-btn-lg icn-home tooltip">
        <span class="tooltiptext">Go to main page 1</span>
    </div>
    <div class="os-app-btn-lg icn-signout tooltip">
        <span class="tooltiptext">Go to main page 2</span>
    </div>
    <div class="os-app-btn-lg icn-home tooltip">
        <span class="tooltiptext">Go to main page 3</span>
    </div>
    <div class="os-app-btn-lg icn-home tooltip">
        <span class="tooltiptext">Go to main page 4</span>
    </div>
    <div class="os-app-btn-lg icn-home tooltip">
        <span class="tooltiptext">Go to main page 5</span>
    </div>
    <div class="os-app-btn-lg icn-home tooltip">
        <span class="tooltiptext">Go to main page 6</span>
    </div>
</div>
{{ end }}