{{ define "tpl-app-start-menu"}}
<!--SM = Start Menu-->
<div class="os-app-sm" id="os-app-sm">
    <!--SMW = Start Menu Wrapper-->
    <div class="os-app-smw">
        <!--SMH = Start Menu Header-->
        <div class="os-app-smh"></div>
        <!--SMB = Start Menu Body-->
        <div class="os-app-smb">
            <!--SMBM = Start Menu Body Module-->
            <div class="os-app-smbm">
                <!--SMBMH = Start Menu Body Module Header-->
                <div class="os-app-smbmh" id="app-title-crm">
                    <p>CRM | CUSTOMER RELATIONSHIP MANAGEMENT</p>
                </div>
                <!--SMBMH = Start Menu Body Module Body-->
                <div class="os-app-smbmb">
                    <!--SMBI = Start Menu Body Item-->
                    <div class="os-app-smbi" id="btn-crm-dashboard">
                        <!--SMBIT = Start Menu Body Item Title-->
                        <div class="os-mod-smbit online">DASHBOARD</div>
                    </div>
                    <div class="os-app-smbi" id="btn-crm-leads">
                        <div class="os-mod-smbit">LEADS</div>
                    </div>
                    <div class="os-app-smbi" id="btn-crm-customers">
                        <div class="os-mod-smbit online">CUSTOMERS</div>
                    </div>
                    <div class="os-app-smbi" id="btn-crm-projects">
                        <div class="os-mod-smbit">PROJECTS</div>
                    </div>
                    <div class="os-app-smbi" id="btn-crm-quotes">
                        <div class="os-mod-smbit">QUOTES</div>
                    </div>
                    <div class="os-app-smbi" id="btn-crm-invoices">
                        <div class="os-mod-smbit">INVOICES</div>
                    </div>
                </div>
            </div>
            <!--SMBM = Start Menu Body Module-->
            <div class="os-app-smbm">
                <!--SMBMH = Start Menu Body Module Header-->
                <div class="os-app-smbmh">
                    <p>SRM | SUPPLIER RELATIONSHIP MANAGEMENT</p>
                </div>
                <!--SMBMH = Start Menu Body Module Body-->
                <div class="os-app-smbmb">
                    <!--SMCI = Start Menu Body Item-->
                    <div class="os-app-smbi">DASHBOARD</div>
                    <div class="os-app-smbi">SUPPLIERS</div>
                    <div class="os-app-smbi">COVERAGE</div>
                    <div class="os-app-smbi">SERVICES</div>
                    <div class="os-app-smbi">QUOTES</div>
                    <div class="os-app-smbi">ORDERS</div>
                    <div class="os-app-smbi">INVOICES</div>
                </div>
            </div>
            <!--SMBM = Start Menu Body Module-->
            <div class="os-app-smbm">
                <!--SMBMH = Start Menu Body Module Header-->
                <div class="os-app-smbmh">
                    <p>ACC | ACCOUNTING</p>
                </div>
                <!--SMBMH = Start Menu Body Module Body-->
                <div class="os-app-smbmb">
                    <!--SMCI = Start Menu Body Item-->
                    <div class="os-app-smbi">DASHBOARD</div>
                    <div class="os-app-smbi">LEDGER</div>
                    <div class="os-app-smbi">PARTNERS</div>
                    <div class="os-app-smbi">INVOICES</div>
                    <div class="os-app-smbi">SETTINGS</div>
                </div>
            </div>
            <!--SMBM = Start Menu Body Module-->
            <div class="os-app-smbm">
                <!--SMBMH = Start Menu Body Module Header-->
                <div class="os-app-smbmh">
                    <p>SYS | SYSTEM</p>
                </div>
                <!--SMBMH = Start Menu Body Module Body-->
                <div class="os-app-smbmb">
                    <!--SMCI = Start Menu Body Item-->
                    <div class="os-app-smbi">DASHBOARD</div>
                    <div class="os-app-smbi">APP MODULES</div>
                    <div class="os-app-smbi">SETTINGS</div>
                    <div class="os-app-smbi">ACCOUNTS</div>
                </div>
            </div>
        </div>
        <!--SMF = Start Menu Footer-->
        <div class="os-app-smf">
            <button id="btn-start-exit" class="os-app-btn-lg icn-signout"></button>
        </div>
    </div>
</div>
{{end}}