{{define "tpl-app-head-x"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oswee</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/scss/main.css">

    <script defer src="/static/js/main.js"></script>
    <script src="/static/components/info.js" type="module"></script>
    <script src="/static/components/os-taskbar.js" type="module"></script>
    <script src="/static/components/os-viewport.js" type="module"></script>
    <script src="/static/components/checkbox.js" type="module"></script>
    <script src="/static/components/location-picker.js" type="module"></script>
    <script src="/static/components/os-button-toggle.js" type="module"></script>
    <script src="/static/components/os-container.js" type="module"></script>
    <script src="/static/components/os-statusbar.js" type="module"></script>
    <script src="/static/components/os-panel.js" type="module"></script>
    <script src="/static/components/os-omnibox.js" type="module"></script>
    <script src="/static/components/os-row.js" type="module"></script>
    <script src="/static/components/os-group.js" type="module"></script>

</head>
<body>
{{end}}