{{ define "tpl-app-taskbar" }}
<os-taskbar hbox>
    <button id="btn-goto-home" style="padding: 2px; margin: 4px;">
        <img src="/static/img/svg-icons/signout.svg" alt="Sign Out" width="20px" style="transform: rotate(180deg);">
    </button>
    <os-panel hbox>
        {{ .Title}}
    </os-panel>
    <form action="/" method="POST" signin>
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <input type="submit" value="Sign In">
    </form>
    <os-group vbox signup>
        <p><a href="/signup">Sign Up</a></p>
        <p><a href="/forgot-password">Forgot Password</a></p>
    </os-group>
    <button id="btn-open-launcher" open-launcher>APPS</button>
</os-taskbar>
<template  id="os-start-menu">
    <div class="os1-start-menu vbox">
        <div id="os-start-overlay" class="os1-start-menu-overlay"></div>
        <div class="os1-start-menu-body hbox">
            <div class="directions">
                {{ range .Apps }}
                <div style="background: {{ .Bcolor }}; height: 28px; width: 100%;"><a href="/{{ .Title }}">{{ .Title }}</a></div>
                {{ end }}
            </div>
            <div class="shortcuts">
        </div>
    </div>
</template>
{{ end }}