{{ define "tpl-app-taskbar" }}
<os-taskbar vbox>
    <button id="btn-open-launcher" open-launcher>APPS</button>
</os-taskbar>
<template  id="os-start-menu">
    <div class="os1-start-menu vbox">
        <div class="os1-start-menu-body hbox">
            <div class="directions vbox">
                <button id="btn-goto-services" direction green>Services</button>
                <button id="btn-goto-products" direction blue>Products</button>
                <button id="btn-goto-business" direction orange>Business</button>
                <button id="btn-goto-promotions" direction red>Promotions</button>
                <button id="btn-goto-apps" direction violet>Applications</button>
            </div>
            <div class="shortcuts">
                <a href="/apps/sys/users">Users</a>
            </div>
        </div>
        <div id="os-start-overlay" class="os1-start-menu-overlay"></div>
    </div>
</template>
{{ end }}