.btn {
    border: none;
}

.btn-sq-28 {
    width: 28px;
    height: 28px;
}

.btn-sq-32 {
    width: 32px;
    height: 32px;
}

.btn-start {
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}