button {
    display: inline-block;
    vertical-align: middle;
    outline: none;
    color: inherit;
    text-align: center;
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer;
    padding: 0 4px;
}

.btn-28 {
    height: 28px;
    min-width: 28px;
}

.btn-32 {
    height: 32px;
    min-width: 32px;
}

.btn-36 {
    min-width: $h-36;
    height: $w-36;
}

.btn-blue {
    background: $blue;
    border: 1px solid $blue10;
    background: linear-gradient(to bottom, $blue 0%,$blue5 100%);
    color: $light5;
    font-size: 0.9rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn-blue:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

button {
    &[direction] {
    flex-grow: 1;
    height: 28px;
    margin: 0;
    border: none;
    color: $light;
    font-weight: 400;
    }
    &[black] {
        background-color: $dark;
    }
    &[green] {
        background-color: $green;
    }
    &[blue] {
        background-color: dodgerblue;
    }
    &[red] {
        background-color: $red;
    }
    &[orange] {
        background-color: $orange;
    }
    &[violet] {
        background-color: $violet;
    }
    &[direction]:hover {
        text-decoration: underline;
    }
}
