// *******************************
// Global Stylesheet
// *******************************

* {
    box-sizing: border-box
}

html, body, form {
    padding: unset;
    margin: unset;
    overflow: hidden;
}

input, button {
    display: inline-block;
    vertical-align: middle;
    outline: none;
    white-space: normal;
    cursor: context-menu;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    padding: 0 4px;
    box-sizing: border-box;
    &.md {
        height: 24px;
        font-size: 0.8em;
        padding: 0 4px;
    }
    &.lg {
        height: 28px;
        font-size: 0.9em;
        padding: 0 4px;
    }
}

input {
    border: 1px solid $light30;
    &[type="submit"] {
        background: $light10;
        border: 1px solid $light10;
        &:hover {
            border: 1px solid $light30;
        }
    }
}