// *******************************
// Global Stylesheet
// *******************************

* {
    box-sizing: border-box
}

html, body {
    padding: unset;
    margin: unset;
    overflow: hidden;
}
// button {
//     all: unset;
// }