* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    font-size: 1.4rem;
    font-weight: normal;
}

p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1rem;
    margin: unset;
    padding: unset;
}

.signup {
    text-transform: uppercase;
    .txt-l {
        font-size: 1.1rem;
    }
}

.txt-l {
    font-size: 1.2rem;
}
.txt-s {
    font-size: 0.8rem;
}

.nolink {
    a {
        text-decoration: unset;
        color: $dark;
    }
}