* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}


.signup {
    text-transform: uppercase;
    .txt-l {
        font-size: 1.1rem;
    }
}

.txt-l {
    font-size: 1.2rem;
}
.txt-s {
    font-size: 0.8rem;
}

.nolink {
    a {
        text-decoration: unset;
        color: $dark;
    }
}